

button {
    border: none;
    background-color: rgb(195, 195, 24);
    padding: 15px;
    font-size: 20px;
    color: aliceblue;
    border-radius: 30px;
}

.container li {
    list-style: none;
    display: inline;
    padding-right: 20px;
}

button:hover {
    background-color: gray;
}

.bg-ehnois{
    background-color: #678983 !important;
}

.nav-link.active {
    color: #ffffff !important;
}

.nav-link 
{    
    color: #E6DDC4 !important;
}

.ehobixo{
    padding-top: 60px;
}

.card{
    padding: 20px;
    max-width: 600px;
    min-height: 270px;
}

.footer{
    margin-top: 20px;
    color: #E6DDC4 !important;
}

.btn-outline-success {
    --bs-btn-border-color: #E6DDC4 !important;
    --bs-btn-color: #E6DDC4 !important;

    --bs-btn-hover-bg: #181D31 !important;
    --bs-btn-hover-border-color: #181D31 !important;
    --bs-btn-hover-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}